<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
    $(".ajaxForm").submit(function(e){
        e.preventDefault();
        var href = $(this).attr("action");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: href,
            data: $(this).serialize(),
            success: function(response){
                if(response.status == "success"){
                    alert('Grazie, il vostro messaggio è stato inviato.');
                    window.location.href = 'https://alicelepissier.com/wedding-template/fr/#contact';
                }else{
                    alert("Une erreur est survenue: " + response.message);
                }
            }
        });
    });
    });
</script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactez Nous</h2>
                <h3 class="section-subheading text-muted">Ou envoyez nous un email à <a href="mailto:petsgetsmarried@gmail.com">petsgetmarried@gmail.com</a>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="ajaxForm" action="YOUR_FORM_CARRY_ENDPOINT" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Votre Nom" id="name" name="name" required data-validation-required-message="Renseignez votre prénom et votre nom.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Votre Email" id="email" name="email" required data-validation-required-message="Renseignez votre adresse email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Votre Message" id="message" name="message" required data-validation-required-message="Quel est votre message?"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Envoyer Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>-->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Facci sapere se verrai</h2>
                <h3 class="section-subheading text-muted">Per maggiori informazioni puoi
                    inviare una mail a <a href="mailto:lisanna.paladin@gmail.com">Lisanna</a>.</h3>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6WuxmD8o5dS90K-0AMD7MFOWKTJTf2Rj0MqoXJa1ahqXFTg/viewform?embedded=true"
                        width="640" height="380" style="border:0;">Loading…</iframe>
            </div>
        </div>
    </div>
</section>