<!-- Events Section -->
<section id="events" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-2 background-villa"></div>-->
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Programma</h2>
                <br>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/breakfast.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Reception</h4>
                                <h4 class="subheading">12:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Se desiderate incontrarci prima della cerimonia,
                                    ci piacerebbe offirvi uno spuntino e fare un brindisi, per poi andare a Caorle
                                    tutti assieme. La villa sarà a disposizione del nostro evento privato tutto il giorno.
                                    Se vorrete lasciare l'auto a Villa dei Dogi,
                                    al trasporto penseremo noi.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/cerimony.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cerimonia</h4>
                                <h4 class="subheading">15:00</h4>
                                <h6>Duomo di Caorle</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Don Danilo ci sposerà nel Duomo di Caorle. La cerimonia durerà circa
                                un'ora. Dopo la cerimonia, per coloro che lo desiderano sarà disponibile un altro
                                mezzo di trasporto per tornare in Villa dei Dogi.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/dinner.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitivo e cena</h4>
                                <h4 class="subheading">17:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Il buffet di aperitivo e la cena saranno serviti a Villa dei Dogi. Se il tempo
                                    atmosferico lo consentirà, l'aperitivo avverrà all'esterno. La cena sarà
                                    principalmente a base di pesce, ma ovviamente ci saranno opzioni vegetariane e
                                    vegane. Semplicemente, indicateci tutte le vostre esigenze nel form
                                    <a class="page-scroll" href="#contact">qui</a>.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/party.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Festa</h4>
                                <h4 class="subheading">22:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Dopo la cena, festeggeremo assieme con la torta, qualche altra sorpresa, e poi
                                ballando fino alle due. Per chi desidererà tornare a Caorle dopo la festa (vi
                                consigliamo di prenotare lì un hotel se ne avete esigenza) sarà predisposto il
                                trasporto.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="col-lg-2 background-caorle"></div>-->
        </div>
    </div>
</section>