<div class="separator"></div>
<section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    La vostra presenza sarà per noi il dono più bello, davvero non ci aspettiamo dei regali.
                    <br>
                    In più, la nostra casa è già arredata e comunque lontana: se desiderate farci un regalo,
                    apprezzeremo molto piuttosto un aiuto per il viaggio di nozze, ancora da pianificare.
                    <br>
                    In questo caso, i nostri IBAN sono: DE81100110012628549558 oppure IT91M0306912123100000008256
                    (entrambi intestati a Lisanna Paladin).
                    <br>
                    Sono benvenuti anche: suggerimenti di itinerario, contatti con amici locali, passaggi
                    all'aereoporto, "ospitate" in giro per il mondo, ecc. Sorprendeteci!
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>