<!-- Our Story Section -->
<section id="our_story" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Benvenuti</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="largepad text-muted">
                Benvenuti nel sito del nostro matrimonio – siamo molto contenti che siate qui. Abbiamo creato
                questo sito come guida per il nostro (prossimo) matrimonio in Italia. Qui, troverete il programma
                e altre informazioni riguardo la giornata.

                Grazie per l’affetto e il supporto dimostrati fino ad ora. Non vediamo l’ora di condividere la
                nostra avventura di una vita col nostro gruppo preferito di persone!
            </p>
        </div>
    </div>
    {% include /common/story.html %}
    <div class="separator"></div>
</section>