<!-- Events Section -->
<section id="events" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-2 background-villa"></div>-->
            <div class="col-lg-12">
                <h2 class="section-heading">Programme</h2>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/breakfast.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Reception</h4>
                                <h4 class="subheading">12:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>If you'd like to meet us before the ceremony, we'd like to offer you a brunch.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/cerimony.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremony</h4>
                                <h4 class="subheading">15:00</h4>
                                <h6>Duomo di Caorle</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Don Danilo will marry us in Caorle's Dom.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/dinner.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitif and dinner</h4>
                                <h4 class="subheading">17:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>The aperitiv and dinner will be served back in Villa dei Dogi.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/party.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Party</h4>
                                <h4 class="subheading">22:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>After the dinner, we are going to party until 2 AM!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="col-lg-2 background-caorle"></div>-->
        </div>
    </div>
</section>