<!-- Events Section -->
<section id="events" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-2 background-villa"></div>-->
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Programme</h2>
                <br>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/breakfast.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Reception</h4>
                                <h4 class="subheading">12:30</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>If you would like to meet us before the ceremony,
                                    we would love to offer you a snack and toast, and then go to Caorle
                                    all together. The villa will be available for our private event all day.
                                    If you would like to leave your car at Villa dei Dogi,
                                    we will take care of the transportation.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/cerimony.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremony</h4>
                                <h4 class="subheading">15:00</h4>
                                <h6>Caorle's Dome</h6>
                            </div>
                            <div class="timeline-body">
                                <p>Don Danilo will marry us in Caorle's Dome. The ceremony will last about
                                    one hour. After the ceremony, we will arrange
                                    means of transportation to return to the Villa dei Dogi.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/dinner.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitif and dinner</h4>
                                <h4 class="subheading">17:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>The appetizer buffet and dinner will be served at Villa dei Dogi.
                                    If the weather will allow it, the Aperitif will take place outside. Dinner will
                                    be mainly based on seafood, but of course there will be vegetarian and vegan options.
                                    Simply indicate all your needs in the form
                                    <a class="page-scroll" href="#contact">here</a>.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/party.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Party</h4>
                                <h4 class="subheading">22:00</h4>
                                <h6>Villa dei Dogi</h6>
                            </div>
                            <div class="timeline-body">
                                <p>After dinner, we will celebrate together with cake, a few more surprises, and then
                                    dancing until two o'clock. For those who wish to return to Caorle after the party (we
                                    recommend that you book a hotel there if you need one) arrangements will be made for
                                    transportation.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="col-lg-2 background-caorle"></div>-->
        </div>
    </div>
</section>