<div class="separator"></div>
<section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Your presence will be the best gift for us; we really do not expect gifts.
                    <br>
                    In addition, our house is already furnished and still far away: if you really would like to
                    gift us something, we would greatly appreciate some help with the honeymoon, which is yet to
                    be planned.
                    <br>
                    In this case, our IBANs are DE81100110012628549558 or IT91M0306912123100000008256
                    (both under the name of Lisanna Paladin).
                    <br>
                    We also welcome itinerary suggestions, contacts with local friends, rides to the airport,
                    "hosting" around the world etc. Surprise us!
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>