
<!-- Our Story Section -->
<section id="our_story" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Welcome</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="largepad text-muted">
                Welcome to our wedding website – we’re so glad you’re here. We’ve created this website as a helpful
                resource for our (next) wedding in Italy. Here, you’ll find our schedule of events and other
                information about the day.

                Thank you for all of your love and support so far. We can’t wait to share the adventure of a
                lifetime with our favourite group of people!
            </p>
        </div>
    </div>
    <!--{% include /common/story.html %}-->
    <div class="separator"></div>
</section>